{
  "presets": [
    ["es2015","stage-0"]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {"exclude": [
          "test/**/*.spec.js",
          "src/app/router/index.js",
          "config/karma/karma.entry.js"
        ]}]
      ]
    }
  }
}
