.bob2(v-if='person != null')
     img.item_avatar(:src='person.picture.thumbnail', v-bind:class="[person.gender]")
     | {{person.name.first}}
     | {{person.name.last}}
//-  | {{person.location.street}}
//-  | {{person.location.city}}
//-  | {{person.location.postcode}}
//-  | {{person.location.state}}
