.hello
  .container
    ul
      li
        .bmd
          input#g_all(type='radio', v-model='gender', value='all')
          label#g_all(for='g_all') All
          .check
      li
        .bmd
          input#g_male(type='radio', v-model='gender', value='male')
          label#g_male(for='g_male') Male
          .check
      li
        .bmd
          input#g_female(type='radio', v-model='gender', value='female')
          label#g_female(for='g_female') Female
          .check
  ul.bob(v-if='!pending')
    li(v-if='filteredPeople.length != 0', v-for='person in filteredPeople')
      .item
        router-link(:to="{name: 'people', params: {slug: person.id}}")
          img.item_avatar(:src='person.picture.thumbnail', v-bind:class="[person.gender]")
        .item_label
        | {{person.name.first | capitalize}} {{person.name.last.toUpperCase()}}
