/* We can import any classic CSS from anywhere */
@import style.css
@import _typography

body
  display: block
  margin: 0
  padding: 0

h1.title
  font-size: 36px
  margin: auto 20px

.header
  display: flex
  padding-left: 20px
  background-color: #272b2b
  border-bottom: 2px solid #737373
  margin-bottom: 50px

#logo a
  display: block
  width: 96px
  height: 96px
  background: url(../assets/img/logo.png) no-repeat left top
  span
    display: none
