/* We can import any classic CSS from anywhere */
@import style.css
@import _typography
@import _radio_buttons
@import _menu

body
  display: block
  margin: 0
  padding: 0

h1.title
  font-size: 36px
  margin: auto 20px

.header
  display: flex
  padding-left: 20px
  background-color: #272b2b
  // border-bottom: 2px solid #737373

.footer
  padding: 7px 0px 0 15px
  font-weight: bold
  text-align: center
  border-bottom: solid 10px #000
  border-top: solid 2px #606b6c;
  background-color: #000
  color: #cfcfcf
  h5
    margin: 0

h1#logo
  margin: 15px

#app
  min-height: 850px

#logo a
  display: block
  width: 74px
  height: 64px
  background: url("../assets/img/logo.png") no-repeat left top
  background-size:: contain
  span
    display: none

.router-view
  margin: 15px

.fade-enter-active, .fade-leave-active
  transition: opacity .1s ease
.fade-enter, .fade-leave-active
  transition: opacity .1s ease
  opacity: 0
