- o = htmlWebpackPlugin.options

doctype html
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= o.title
    link(rel='apple-touch-icon', sizes='180x180', href='./assets/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='./assets/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='./assets/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='shortcut icon', href='./assets/favicons/favicon.ico')
    each val, index in htmlWebpackPlugin.files.css
      link(href=''+val, rel='stylesheet', type='text/css')
body
  #header.header
    .subh
      h1#logo
        a(href='')
          span= o.locals.test
      h1.title
        = o.title
  #content
    div
      #app
  #footer.footer
    h5 Powered by &nbsp;
      a.vuejs_link(href='https://vuejs.org/') Vuejs
      | &nbsp;and&nbsp;
      a.webpack_link(href='http://webpack.github.io/') WebPack
      | .&nbsp; &nbsp;| &nbsp; &nbsp;© &nbsp;
      = new Date().getFullYear().toString()

  each val, index in htmlWebpackPlugin.files.chunks
    script(src=''+htmlWebpackPlugin.files.chunks[index].entry)
